<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
   <link rel="stylesheet" href="style.css">
</head>
<body>
 <main>
    <form method="post" action="/contact">
        <h1>Contact Now</h1>
        <input type="text" name="name" placeholder="Name">
        <input type="text"  name="Email" placeholder="Email" id="">
        <button type=""submit>Sendmsg</button>
    </form>
 </main>    
    <!-- //values inside ejs tags are considered as javascript code -->
    <!-- <link rel="stylesheet" href=""> -->
    <script src="script.js"></script>
</body>
</html>